[submodule "my-site-2.0"]
	path = my-site-2.0
	url = https://github.com/jmclain-origin/my-site-2.0
[submodule "submodules-packages"]
	path = submodules-packages
	url = https://github.com/jmclain-origin/mvp-demo
