[submodule "apps/child-module1"]
	path = apps/child-module1
	url = https://github.com/jmclain-origin/mvp-demo
[submodule "apps/child-module2"]
	path = apps/child-module2
	url = https://github.com/jmclain-origin/tarot2.0
